
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form name="form" #myForm="ngForm" (ngSubmit)="f.form.valid && onSubmit(myForm.value)" #f="ngForm" novalidate  style="width:400px">
                        <h3>Add Employee Detail</h3>
                        <div class="form-group">
                                <label for="empId">Employee ID</label>
                                <input type="number" class="form-control" name="empId" [(ngModel)]="model.id" #empId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && empId.invalid }" required number/>
                                <div *ngIf="f.submitted && empId.invalid" class="invalid-feedback">
                                    <div *ngIf="empId.errors.required">Emp Id is required</div>
                                </div>
                            </div>
                    <div class="form-group">
                        <label for="empName">Name</label>
                        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.name" #empName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && empName.invalid }" required />
                        <div *ngIf="f.submitted && empName.invalid" class="invalid-feedback">
                            <div *ngIf="empName.errors.required">Emp Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control" name="colony" [(ngModel)]="model.colony" #colony="ngModel" [ngClass]="{ 'is-invalid': f.submitted && colony.invalid }" required />
                                <div *ngIf="f.submitted && colony.invalid" class="invalid-feedback">
                                    <div *ngIf="colony.errors.required">Colony Name is required</div>
                                </div>
                                <input type="text" class="form-control" name="street" [(ngModel)]="model.street" #street="ngModel" [ngClass]="{ 'is-invalid': f.submitted && street.invalid }" required />
                                <div *ngIf="f.submitted && street.invalid" class="invalid-feedback">
                                    <div *ngIf="street.errors.required">Street Name is required</div>
                                </div>
                                <input type="text" class="form-control" name="city" [(ngModel)]="model.city" #city="ngModel" [ngClass]="{ 'is-invalid': f.submitted && city.invalid }" required />
                                <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
                                    <div *ngIf="city.errors.required">City Name is required</div>
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="birthDate">Date of Birth</label>
                                <input type="date" class="form-control" name="birthDate" [(ngModel)]="model.birthday" #birthDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && birthDate.invalid }" required date />
                                <div *ngIf="f.submitted && birthDate.invalid" class="invalid-feedback">
                                    <div *ngIf="birthDate.errors.required">Emp Date of Birth is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="control-label col-sm-3">Gender</label>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="radio-inline">
                                                    <input type="radio"   id ="male" [(ngModel)]="model.gender" name="genderMaleField" name="gender" value="Male" checked>Male
                                                </label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="radio-inline">
                                                    <input type="radio" id="female" [(ngModel)]="model.gender" name="femalegenderField" name="gender" value="Female">Female
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    <div class="form-group">
                        <button class="btn btn-primary">AddEmployeeData</button>
                    </div>
                </form>
            </div>
        </div>

<input [(ngModel)]="searchText" placeholder="Search by Name or Email" class="form-control">
<table style="width:100%" class="table table-bordered table-hover">
  <thead>
    <td [class.active]="order === 'id'"
    (click)="setOrder('id')">ID<span [hidden]="reverse">▼</span
        ><span [hidden]="!reverse">▲</span></td>
    <td [class.active]="order === 'name'"
    (click)="setOrder('name')">Name<span [hidden]="reverse">▼</span
        ><span [hidden]="!reverse">▲</span></td>
    <td [class.active]="order === 'emil'"
    (click)="setOrder('email')">Email</td>
    <td>Address</td>
    <td [class.active]="order === 'birthday'"
    (click)="setOrder('birthday')">Birthday<span [hidden]="reverse">▼</span
        ><span [hidden]="!reverse">▲</span></td>
    <td [class.active]="order === 'gender'"
    (click)="setOrder('gender')">Gender<span [hidden]="reverse">▼</span
        ><span [hidden]="!reverse">▲</span></td>
  </thead>
  <tr *ngFor = "let emp of data.employee | orderBy: order:reverse:'case-insensitive'">
    <td> {{emp.id}} </td>
    <td>{{emp.name}}</td>
    <td>{{emp.email}}</td>
    <td>colony:{{emp.colony}}, street:{{emp.street}},city:{{emp.city}}</td>
    <td>{{emp.birthday}}</td>
    <td>{{emp.gender}}</td>
  </tr>
</table>
